@import "./variables";
@import "./mixins";

.comment-form {
  background-color: rgb(255, 255, 255);
  border: 1px solid $secondary-color;
  border-radius: $border-radius;
  padding: $padding/4;
  margin-bottom: $padding;
  @include box-shadow($secondary-color);

  form {
    display: flex;
    flex-direction: column;
    width: 100%;

    textarea {
      border: 1px solid $secondary-color;
      border-radius: $border-radius;
      padding: $padding / 2;
      margin-right: $padding / 2;
      margin-bottom: $padding / 2;
      height: 80px;
      resize: none;

      &::placeholder {
        white-space: pre-line; 
        text-align: left;
      }
    
    }

    .form-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 40px;

      .error {
        color: red;
        font-size: 12px;
        visibility: hidden;
      }
      .error.visible {
        visibility: visible;
      }

      button {
        margin-left: auto;
        background-color: $primary-color;
        color: white;
        border: none;
        border-radius: $border-radius;
        padding: $padding / 2 $padding;
        cursor: pointer;
        @include transition(background-color, 0.3s);

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }
  }
}
