// src/styles/replyInput.scss
.reply-input {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  
    input {
      flex: 1;
      background-color: #ddd0d0;
      border: none;
      border-radius: 5px;
      padding: 10px;
      color: #fff;
      outline: none;
    }
  
    .cancel-button,
    .submit-button {
      background-color: #d09292;
      border: none;
      border-radius: 5px;
      padding: 10px 15px;
      margin-left: 10px;
      color: #fff;
      cursor: pointer;
    }
  
    .submit-button {
      background-color: #96b9df;
    }

    .error-message {
        color: red;
        font-size: 0.8em;
        //position: absolute;
        bottom: -20px;
        left: 10px;
    }
    
  }
  